<?xml version="1.0"?>
<config>
    <class package="modularLibraries" name="ModularLibraryMQTT">
        <constructor>
            <param_type>String</param_type>
        </constructor>

        <method name="sendMessage">
            <param_type>String</param_type>
            <param_type>Integer</param_type>
            <param_type>String</param_type>
        </method>

        <method name="setPublisherId">
            <param_type>String</param_type>
        </method>

        <method name="setBroker">
            <param_type>String</param_type>
        </method>

        <method name="getPublisherId"/>

        <method name="getBroker"/>
    </class>
</config>